on:
  push:
    branches:
      - master
      - main
      - default
  pull_request:
    branches:
      - "**"

name: Typecheck
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Java for openapi generator
        uses: actions/setup-java@v2 # https://github.com/actions/setup-java#basic
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install dependencies
        run: npm install
      - name: Generate client from openapi spec
        run: npm run gen
      - name: Typecheck
        uses: gozala/typescript-error-reporter-action@v1.0.8
        with:
          project: tsconfig.json
